table, th, td {
  border: 1px solid black;

}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

table th{
  background-color: rgb(19, 148, 148);
}
table tbody{
  background-color: rgb(175, 252, 226);
}
.page-heading{
  color: rgb(3, 48, 48);
  text-align: center;
  text-decoration: underline;

}

#button{
  text-align: center;
}